/* CarouselFade.css */

.carousel-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* Adjusted aspect ratio for a modern widescreen look */
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(28, 98, 4, 0.6); /* Semi-transparent green background */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}


.carousel-caption h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.carousel-caption p {
  color: #ddd;
  font-size: 1.2rem;
  line-height: 1.5;
}
