
.about-us {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.about-heading {
  text-align: center;
  margin-bottom: 40px;
}

.about-heading-main {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.highlight {
  color: #86b95f; /* Highlight color */
}

.about-heading-sub {
  font-size: 1.5rem;
  color: #666;
}

.about-content {
  font-family: 'Roboto', sans-serif;
}

.about-image-container {
  text-align: center;
}

.about-image {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

.about-content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .about-heading-main {
    font-size: 2.5rem;
  }

  .about-heading-sub {
    font-size: 1.2rem;
  }

  .about-content h2 {
    font-size: 2.5rem;
  }
}
