# Ignore dependencies 

node_modules/

# ignore node modules in the Frontendd folder

Frontendd/node_modules
Frontendd/src/Assets/.image1.jpg.icloud

# ignore the Backend dependencies 

Backend/__pycache__/
Backend/.app.py.icloud

Backend/Pipfile.lock
Backend/db.sqlite3

# ignore DS_stores

.DS_Store

# Ignore cloud stored images 
Frontendd/src/Assets/.dan.jpg.icloud
Frontendd/src/Assets/.daniel-watson.jpg.icloud
Frontendd/src/Assets/.daniel.jpg.icloud
Frontendd/src/Assets/.devon.jpg.icloud
Frontendd/src/Assets/.jason-dent.jpg.icloud
Frontendd/src/Assets/.victor.jpg.icloud

# Ignore Images 

Frontendd/src/Assets/dan.jpg
Frontendd/src/Assets/daniel-watson.jpg
Frontendd/src/Assets/daniel.jpg
Frontendd/src/Assets/devon.jpg
Frontendd/src/Assets/jason-dent.jpg
Frontendd/src/Assets/victor.jpg

