
.footer {
  background-color: #1c6204;
  color: #fff;
  padding: 50px 0;
}

.footer h4 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
}

.social-icons a:hover {
  color: #ccc;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ccc;
}

.footer ul li a:hover {
  color: #fff;
}

.footer p.copyright {
  margin-top: 30px;
  color: #202a1d;
}

.copyright-section {
  background-color: #f8f9fa;
  padding: 8px 0;
  width: 100%;  
}
